C:\Users\alvar\Desktop\GitHub Repos\Published repositories\CardioRVAR\R\Documentation for data.R
C:\Users\alvar\Desktop\GitHub Repos\Published repositories\CardioRVAR\R\Documentation for data.R
C:\Users\alvar\Desktop\GitHub Repos\Published repositories\CardioRVAR\data\DetrendedData.rda
C:\Users\alvar\Desktop\GitHub Repos\Published repositories\CardioRVAR\data\Cardiovascular.rda
C:\Users\alvar\Desktop\GitHub Repos\Published repositories\CardioRVAR\R\Documentation for data.R
